<p id="notice"><%= notice %></p>

<div class="ui grid">
  <div class="one column large screen only row">
    <div class="column">

        <!-- <h1>Wilcommen Aus HipStore</h1>
        <h2>Our product categories:</h2> -->

        <div class="ui menu">
            <div class="header item">
            <%= link_to 'Sign Up', new_user_path %>
            </div>
            <div class="header item">
            <%= link_to 'Login', user_session_path %>
           </div>
           <div class="header item">
           <%= link_to 'Home', root_path %>
          </div>
          </div>


        <%# product_list = Products.select(:category).map(&:category).uniq %>
        <%# = product_list %>

        <!-- <%= image_tag "pug-jg.jpg" %> -->
        <%= image_tag 'hero-image.jpg' %>
        <%# @product_categories =  @products.select(:category).map(&:category).uniq %>
        <!-- <h1><%= @product_categories %></h1> -->

        <ul>
          <% @categories.each do |category| %>
            <!-- <%# = category %><span> *** </span> -->
            <%#= link_to 'category', products_category %>
            <li>
              <h3><%= link_to category, categories_path(category) %></h3>
            </li>
          <% end %>
        </ul>

        <!-- <h3>
          <% @products.each do |product| %>
            <%= product.category %>
            <%# = category/:id/product %>
          <% end %>
        </h3> -->

    </div>
  </div>
</div>

    <!-- get rid of this later: -->
    <!-- <% @products.each do |product| %>
      <tr>
        <td> -->
          <%# = link_to 'Show', product %>
          <%# = link_to product.category, user_product %>
          <!-- <%= product.name %>
        </td>
        <td> -->
          <%# = link_to 'Edit', edit_product_path(product) %>
        <!-- </td>
        <td> -->
          <!-- <%# = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <!-- </tr> -->
    <!-- <% end %> -->


<br>
